<div class="webhook">
  <p>{{ t('Copy Webhook URL')|raw }}</p>
  <div class="url">
      {{ this.paymentMethod.getWebhookURL() }}
      {{ widget('XLite\\View\\Button\\CopyLink', copy=this.paymentMethod.getWebhookURL()) }}
  </div>
</div>

<div>
  <h3>{{ t('How to use')|raw }}</h3>
  <ul>
    <li>
      <p>1. {{ t('Open the page "Settings" of https://commerce.coinbase.com/dashboard: https://commerce.coinbase.com/dashboard/settings')|raw }}</p>
    </li>
    <li>
      <p>2. {{ t('In the section "Webhook subscriptions", click "Add an endpoint".')|raw }}</p>
    </li>
    <li>
      <p>3. {{ t('In the form that opens, paste the "Webhook URL" value into the field "New Webhook Subscription" and click "Save".')|raw }}</p>
    </li>
    <li>
      <p>4. {{ t('Copy "App Key" and "Secret Key" from "Settings" page and past below.')|raw }}</p>
    </li>
  </ul>
</div>

<table cellspacing="1" cellpadding="5" class="settings-table">
  <tr>
    <td class="setting-name">
    <label for="settings_app_key">{{ t('App Key') }}</label>
    </td>
    <td>
    <input type="text" id="settings_app_key" name="settings[app_key]" value="{{ this.paymentMethod.getSetting('app_key') }}" class="validate[required,maxSize[255]]" />
    </td>
  </tr>
  <tr>
    <td class="setting-name">
    <label for="settings_secret_key">{{ t('Secret Key') }}</label>
    </td>
    <td>
    <input type="text" id="settings_secret_key" name="settings[secret_key]" size="64" value="{{ this.paymentMethod.getSetting('secret_key') }}" class="validate[required,maxSize[255]]" />
    </td>
  </tr>
</table>
